/* Make top buttons responsive */
.ant-typography div {
  display: inline-block;
}
.ant-typography div.ant-space-item {
  margin-bottom: 8px;
}

/* Hide drag area on textarea of list item title */
.list-item textarea.ant-input {
  resize: none;
}

/* Make "Labels" fully clickable in list item */
/* and ensure item with "Groente & Fruit" title stays on one line (HACK) */
.list-item .ant-select {
  min-width: 10.2em;
}

/* Make dropdown for item labels is wide enough */
.ant-select-dropdown {
  min-width: 12em !important;
}
