/* Make sure we are able click on the empty area left to the select box for item labels */
.ant-list-item .ant-select-selection-search {
  min-width: 1em;
}

.ant-typography div {
  display: inline-block;
}
.ant-typography div.ant-space-item {
  margin-bottom: 8px;
}